<%= form_with model: @vehicle, local: true do |f| %>
    <div class="">
      メーカー
      <span class="">必須</span>
    </div>
    <%= f.text_field :manufacturer, placeholder: "例 : BMW" %><br>
    <div class="">
      車種名
      <span class="">必須</span>
    </div>
    <%= f.text_field :vehicle_name, placeholder: "例 : E46 330i" %><br>
    <div class="">
      次回車検年月
      <span class="">（任意）</span>
    </div>
    <%= f.text_field :next_inspection, placeholder: "例 : 令和5年7月" %><br>
    <%= f.submit '登録'%>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
<% end %>
