<%= render "shared/header" %>
<div class='main'>
  <div class='repair-contents'>
 
      <div class='fix-title'>
        <%= @vehicle.vehicle_name %>
      </div>

      <% if @vehicle_fixes.empty? %>
        <div class='new-repair-info'>
            Please register your Register your repair details for vehicle 
        </div>
      <% end %>

    <ul class='repair-lists'>

      <% @vehicle_fixes.each do |vehicle_fix| %>
        
          <li class='repair-list'>

            <div class='repair-title'>
              <%= vehicle_fix.title %>
            </div>

            <%=link_to 'Edit Information', edit_vehicle_vehicle_fix_path(@vehicle.id, id: vehicle_fix.id),class:"edit-btn" %>

            <div class='repair-info'>
                <%= safe_join(vehicle_fix.content.split("\n"),tag(:br)) %>
            </div>

            <div class='repair-inspection'>
              走行距離：<%= vehicle_fix.mileage %>Km
            </div>
            
            <div class='vehicle-img-content'>
              <% if vehicle_fix.images.present? %>
                <%= image_tag vehicle_fix.images[0], class: "fix-img" %>
                <% vehicle_fix.images[1..-1].each do |image| %>
                    <%= image_tag image, class: "fix-img"%>
                <%end%>
              <% else %>
                <h1 class='no-img-text'>No Image</h1>
              <% end %>
            </div>
          </li>
      <% end %>


      
    </ul>
  </div>

</div>
<%= link_to new_vehicle_vehicle_fix_path(@vehicle.id), class: 'purchase-btn' do %> 
  <span class='purchase-btn-text'>Register Your Repair Details</span>
<% end %>

<%= render "shared/footer" %>

